.button-main,
.button-secondary {
    display: inline-block;
    color: var(--color-white) !important;
}

.button-secondary {
    font-family: var(--font-family-poppins-m);
    font-size: 15px;
    border-radius: 100px;
}

.button-main {
    padding: 26px 48px;

    border-radius: 28px;
    background: var(--gradient-button-main);

    font-size: 25px;
    font-family: var(--font-family-poppins-sb);
}


.button-secondary {
    padding: 13px 44px;
    background: var(--gradient-button-main);
}

.button-main:hover,
.button-secondary:hover {
    color: #f4b25b !important;
    transition: color var(--animation);
}

.button-main:active,
.button-secondary:active {
    position: relative;
    top: 1px;
}

.button-slider {
    
    width: 68px;
    height: 68px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--gradient-button-main);

}

.button-slider:hover {
    color: #f4b25b !important;
    transition: color var(--animation);
}

.button-slider:active{
    top: 50.5%;
}