.button-main {
    display: inline-block;
    padding: 26px 48px;

    border-radius: 28px;
    background: var(--gradient-button-main);
    color: var(--color-white);

    font-size: 25px;
    font-family: var(--font-family-poppins-sb);
}


.button-secondary {
    display: inline-block;
    padding: 13px 44px;
    
    border-radius: 100px;
    background: var(--gradient-button-main);
    color: var(--color-white);
    
    font-size: 15px;
    font-family: var(--font-family-poppins-m);
}

.button-main:hover,
.button-secondary:hover {
    color: #f4b25b;
    transition: color var(--animation);
}

.button-main:active,
.button-secondary:active {
    position: relative;
    top: 1px;
}