.header {
    position: relative;
    min-height: 940px;
    padding-top: 44px;
    background: var(--gradient-header);
    color: var(--color-white);

    overflow: hidden;
}

.header a {
    color: var(--color-white);
}

.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    
    background-image: url("./../images/background/header-bottom.svg");
    background-size: 100%; /* Height and Width 100% */
}

.header__top {
    margin-bottom: 85px;
}

.header__row {
    display: flex;
    align-items: flex-start;
}

.header__image {
    position: relative;
    flex-grow: 1;
}

.header__image img {
    position: absolute;
    top: -175px;
    right: -130px;

    pointer-events: none;

    max-width: unset; /* Inside reset.css max-width: 100% */
    width: 894px;
    height: 940px;
}

.header__image::before {
    content: "";
    position: absolute;
    top: 0;
    right: -80px;
    
    width: 830px;
    height: 622px;
    
    background-image: url(./../images/background/header-elements.svg);
    background-repeat: no-repeat;

    pointer-events: none;
}

/* Header Navigation */

.logo{
    font-size: 20px;
    font-family: var(--font-family-poppins-b);
}

.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}
.nav__links {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-family: var(--font-family-poppins-m);
}

.nav__links a {
    position: relative;
}

.nav__links a.active::after,
.nav__links a:hover::after {
    content: "";

    position: absolute;
    left: 0;
    right: 10px;
    bottom: -6px;

    display: block;
    height: 4px;
    border-radius: 100px;
    background-color: var(--color-gray-light);
}

.nav__login {
    display: flex;
    column-gap: 25px;
    align-items: center;

    font-size: 15px;
    font-family: var(--font-family-poppins-m);
}

/* Header Content */

.header__content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}

.header__title {
    font-size: 55px;
    font-family: var(--font-family-poppins-r);
    margin-bottom: 30px;
}

.header__text {
    font-family: var(--font-family-poppins-b);
    font-size: 25px;
    color: var(--color-gray-medium);
    margin-bottom: 68px;
}


/* Menu Icon */

.menu-icon-wrapper {

	height: var(--menu-height);
	width: var(--menu-width);
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: var(--menu-width);
	height: var(--menu-line-height);
	background-color: var(--menu-color);
}

.menu-icon::before,
.menu-icon::after {
	content: '';
	display: block;

	position: absolute;
	left: 0;

	width: var(--menu-width);
	height: var(--menu-line-height);

	background-color: var(--menu-color);
	transition: transform var(--menu-animation-time) ease-in, top var(--menu-animation-time) linear var(--menu-animation-time);
}

.menu-icon::before {
	top: calc(var(--menu-line-height) * -2);
}

.menu-icon::after {
	top: calc(var(--menu-line-height) * 2);
}

.menu-icon.menu-icon--active {
	background-color: transparent;
}

.menu-icon.menu-icon--active::before,
.menu-icon.menu-icon--active::after {
	top: 0;
	transition: top var(--menu-animation-time) linear, transform var(--menu-animation-time) ease-in var(--menu-animation-time);
}

.menu-icon.menu-icon--active::before {
	transform: rotate(45deg);
}

.menu-icon.menu-icon--active::after {
	transform: rotate(-45deg);
}


/* Responsive */

@media (max-width: 999px) {
    
    /* Header-Navigation */
    .header {
        padding-top: 25px;
    }

    .header__top {
        margin-bottom: 40px;
    }
    
    .nav--header .nav__links,
    .nav--header .nav__login {
        display: none;
    }

    
    .nav__toggle {
        display: block !important;
    }
    
    .nav--mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
        
        flex-direction: column;
        align-items: center;
        
        padding: 40px 0;
        
        
        background: var(--gradient-header-menu);
    }
    
    .nav--mobile .nav__links, 
    .nav--mobile .nav__login,
    .nav--mobile .nav__login a {
        display: flex !important;
        font-size: 22px;
    }

    .nav--mobile .nav__links a.active::after,
    .nav--mobile .nav__links a:hover::after {
        display: none;
    }

    .nav--mobile .nav__links {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .nav--mobile .nav__login {
        column-gap: 50px;
        justify-content: center;
    }

    .nav--mobile .nav__toggle {
        position: fixed;
        top: 50px;
        right: 40px;
    }

    .nav--mobile .logo {
        font-size: 34px;
    }

    /* Header-Content */
    .header__image img {
        top: -50px;
        right: -275px;
    }

    .header__image::before {
        right: -325px;
        top: 85px;
    }

}

@media (max-width: 849px) {
    .header {
        min-height: unset;
    }
    .header__row {
        flex-direction: column;
    }
    .header__image {
        display: flex;
        justify-content: center;
    }
    .header__image img {
        position: static;
        width: 80%;
        height: auto;
    }
    .header__image::before {
        right: 0px;
        top: 20px;
    }

    .header__title {
        margin-bottom: 20px;
        font-size: 35px;
    }
    .header__text {
        max-width: 500px;
        margin-bottom: 40px;
        font-size: 20px;
        margin-bottom: 25px;
    }
}

@media (max-width: 649px) {
    .header__image::before {
        right: -120px;
        top: 20px;
    }
}

@media (max-width: 449px) {
    .nav--mobile .nav__toggle {
        top: 50px;
        right: 20px;
    }
    .nav--mobile .nav__links {
        row-gap: 20px;
    }
}
